<div class="product-list">
  <% @products.each do |product| %>
    <div class="product-box col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to product.name, product, class: 'product-name panel-title' %>
        </div>
        <div class="panel-body">
          <div class="product-description">
            <%= product.description %>
          </div>
          <div class='cart-button'>
            <%= form_for current_cart do |f| %>
              <%= f.hidden_field :product_id, value: product.id %>
              <%= f.submit 'Add to Cart', class: 'btn btn-default' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>